//- Photos des intervenants
-
    const intersList =[
        {
           'photo' : 'https://i.ibb.co/6yDxj9g/material-symbols-info-outline.png',
            'name' : 'Quentin RINGOT',
            'titre' : 'Gestionnaire de patrimoine Le Conservateur',
            'prof' : 'Professeur de techniques commerciales et de fiscalité'
        },
        {
           'photo' :  'https://i.ibb.co/6yDxj9g/material-symbols-info-outline.png',
            'name' :  'Nicolas BARBIER',
            'titre' : 'Gestionnaire de patrimoine Banque CIC Exigence',
            'prof' :   'Professeur de techniques bancaires et financement - BTS et BACHELOR'
        },
        {
           'photo' : 'https://i.ibb.co/6yDxj9g/material-symbols-info-outline.png',
            'name' : 'Séverine RUFIN',
            'titre' : 'Performance technique des réseaux Groupe Covéa (MMA-MAAF-GMF)',
            'prof' : 'Professeure  d\'assurance IARD - et approche globale'
        },
        {
           'photo' : 'https://i.ibb.co/6yDxj9g/material-symbols-info-outline.png',
            'name' : 'Alexy RUBAN',
            'titre' : 'Assistant directeur artistique Lemon & Pepper',
            'prof' : 'Professeur de digital et réseaux sociaux'
        },
        {
           'photo' : 'https://i.ibb.co/6yDxj9g/material-symbols-info-outline.png',
            'name' : 'Yves SION',
            'titre' : 'Avocat au barreau de Lille cabinet RAXIS LOGOS',
            'prof' : 'Intervenant conférence Droit social'
        },
        {
           'photo' : 'https://i.ibb.co/6yDxj9g/material-symbols-info-outline.png',
            'name' : 'Barbara CLOMBE',
            'titre' : 'Responsable département cabinet DIOT HAUTS-DE-FRANCE',
            'prof' : 'Professeure de Gestion de sinistre et assurance',
        }
    ]

mj-section(padding="0 20px" background-color="#ffffff")
    each inter in intersList
        mj-group(width="100%")
            mj-column(width="30%")
                mj-image(width="120px" padding="0px" src= inter.photo alt="inter.name")/
            mj-column(width="70%" vertical-align="middle")
                mj-text(align="left" padding="10px 0px 0px 0px" font-family="Arial" font-size="16px" line-height="20px" font-weight="700")= inter.name
                mj-text(align="left" padding="0px" font-family="Arial" font-size="14px" line-height="20px" font-weight="600")= inter.titre 
                mj-text(align="left" padding="0px" font-family="Arial" font-size="14px" line-height="20px" font-weight="300")= inter.prof
    
