//- Article Forum Start'Avenir
mj-section(background-color='#ffffff' padding-left='17px' padding-right='17px')
    mj-column(width='30%' padding='8px')
        mj-image(padding='0' border='none' fluid-on-mobile='true' target='_blank' src='https://i.ibb.co/dGSYfvF/news03-072024.jpg' alt='Étudiante ayant opté pour la formation en alterrnance')/
    mj-column(width='70%' padding='8px')
        mj-text(padding='0' align='left' font-size='14px' font-weight='900' color='#944694' line-height='18px' text-transform='uppercase') Formation en apprentissage
        mj-text(padding='5px 0 0 0' align='left' font-size='20px' font-weight='700' line-height='24px' color='#684092') Pourquoi choisir son BTS ou Bachelor en Apprentissage
        mj-text(padding='0' font-size='16px' line-height='20px' font-weight='400') 
            ul(style='margin:0;padding-left:5px;')
                li(style='padding-top:10px') #[span(style='font-weight:700') Développer des compétences] au plus près des besoins du marché.
                li(style='padding-top:10px') #[span(style='font-weight:700') Percevoir une rémunération].
                li(style='padding-top:10px') Ajouter une expérience professionnelle appréciée à son CV.
                li(style='padding-top:10px') Bénéficier d'un tremplin à l'embauche.
                li(style='padding-top:10px') #[span(style='font-weight:700') Financer sa formation].
                li(style='padding-top:10px') #[span(style='font-weight:700') Obtenir un diplôme].
                li(style='padding-top:10px') Bénéficier d'aides supplémentaires au transport, à l'hébergement et à la restauration.