
//- Texte
mj-section(background-color='#EDF2F7' padding='0px')
    mj-column(width='100%')
        mj-image(padding='0' border='none' fluid-on-mobile='true' width='600px' target='_blank' src='https://i.ibb.co/ryGBDvd/news-Bandeau072024.jpg' alt='Tente éclairée et isolée en pleine nature avec portrait de Christian ANNALORO, responsable pédagogique d\'Ecosup Assurance')/
mj-section(background-color='#EDF2F7' padding-top='10px' padding-bottom='40px')
        mj-column(width='88%') 
            mj-text(padding-top='5px' padding-bottom='0' font-size='14px' font-weight='900' line-height='18px' text-transform='uppercase' color='#944694') Édito
            mj-text(padding-top='5px' padding-bottom='0' font-style='italic' font-size='16px' font-weight='500' line-height='20px') Je tiens à féliciter l'ensemble des futurs élèves inscrits pour l'obtention de leur diplôme ! Qu'il s'agisse du Baccalauréat ou du BTS, c'est une étape importante pour vous et surtout une période difficile emplit de stress et d'incertitude. C'est enfin derrière vous ! et je suis heureux que pour les futures élèves d'Ecosup Assurance, c'est une année de réussite : #[span(style='font-weight:700') 100 % de réussite aux examens pour les élèves inscrits] ! Bravo à vous !
            mj-text(padding-top='5px' padding-bottom='0' font-style='italic' font-size='16px' font-weight='500' line-height='20px') Alors je vous souhaite maintenant un repos bien mérité, de belles vacances pour celles et ceux d'entre vous qui partent et plein de courage pour les élèves qui travaillent cet été.
            mj-text(padding-top='5px' padding-bottom='0' font-style='italic' font-size='16px' font-weight='500' line-height='20px') #[span(style='font-weight:700') Nous vous attendons avec impatience pour la rentrée 2024] pour une année riche et studieuse !
            mj-text(padding-top='5px' padding-bottom='0' font-style='italic' font-size='16px' font-weight='500' line-height='20px') Je reste comme toujours à votre disposition.
            mj-text(padding-bottom='0' font-style='italic' font-size='16px' font-weight='500' line-height='20px') Belles vacances.