//- Dates rentrée classes
mj-section(background-color='#2D3748' padding='15px')
    mj-column(width="85%")
        mj-social(padding='0' font-size="16px" line-height='20px' font-weight="500" icon-size="40px" inner-padding="5px 15px 5px 0" color="#BA4995" mode="vertical")
            mj-social-element(vertical-align="top" src="https://i.ibb.co/xYKFMzh/logoESA.jpg") Rentrée des BACHELOR Chargé de Clientèles en Assurance et Banque : #[span(style="color:#ffffff;") Mercredi 4 septembre 2024 à 10h]
            mj-social-element(vertical-align="top" src="https://i.ibb.co/xYKFMzh/logoESA.jpg") Rentrée des BTS : #[span(style="color:#ffffff;") Lundi 9 septembre 2024 à 14h]